# PROVER SERVICES

services:
  # Orchestrator dispatcher which calls into the prover binary to generate proof
  mock-prover:
    image: "rpajo/modorc-demo:latest"
    ports:
      - "8910:8888"
    env_file: ".env"
    volumes:
      - './prover_binaries/:/provers:ro'
    environment:
      - CONSUMER_NAME=mock-prover   # <-- Note that for splitting the workload we use the same consumer name across provers
      - INPUT_QUEUE=modularorchestrator.blocks
      - OUTPUT_QUEUE=modularorchestrator.block_proofs
      - EXECUTOR_TYPE=JsonExecutor
      - BINARY=/provers/mock_prover_linux_arm64_musl
      - RUST_BACKTRACE=1
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: dispatcher

  mock-prover-2:
      image: "rpajo/modorc-demo:latest"
      ports:
        - "8911:8888"
      env_file: ".env"
      volumes:
        - './prover_binaries/:/provers:ro'
      environment:
        - CONSUMER_NAME=mock-prover   # <-- Note that for splitting the workload we use the same consumer name across provers
        - INPUT_QUEUE=modularorchestrator.blocks
        - OUTPUT_QUEUE=modularorchestrator.block_proofs
        - EXECUTOR_TYPE=JsonExecutor
        - BINARY=/provers/mock_prover_linux_arm64_musl
        - RUST_BACKTRACE=1
      extra_hosts:
        - "host.docker.internal:host-gateway"
      command: dispatcher
