# PROVER SERVICES

services:
  # Orchestrator dispatcher which calls into the prover binary to generate proof
  sp1-prover:
    platform: linux/amd64
    image: "zircuit1/ethproofs-orchestrator:latest"
    ports:
      - "8910:8888"
    env_file: ".env"
    volumes:
      - './prover_binaries/:/provers:ro'
    environment:
      - CONSUMER_NAME=sp1-prover   # <-- Note that for splitting the workload we use the same consumer name across provers
      - INPUT_QUEUE=modularorchestrator.blocks
      - OUTPUT_QUEUE=modularorchestrator.block_proofs
      - EXECUTOR_TYPE=JsonExecutor
      - BINARY=/provers/sp1_prover_linux_amd64_gnu
      - RUST_BACKTRACE=1
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: dispatcher

  sp1-prover-2:
      platform: linux/amd64
      image: "zircuit1/ethproofs-orchestrator:latest"
      ports:
        - "8911:8888"
      env_file: ".env"
      volumes:
        - './prover_binaries/:/provers:ro'
      environment:
        - CONSUMER_NAME=sp1-prover   # <-- Note that for splitting the workload we use the same consumer name across provers
        - INPUT_QUEUE=modularorchestrator.blocks
        - OUTPUT_QUEUE=modularorchestrator.block_proofs
        - EXECUTOR_TYPE=JsonExecutor
        - BINARY=/provers/sp1_prover_linux_amd64_gnu
        - RUST_BACKTRACE=1
      extra_hosts:
        - "host.docker.internal:host-gateway"
      command: dispatcher
